{{ ansible_managed | comment }}

---

# This is the main OpenSearch Security configuration file where authentication
# and authorization is defined.
#
# You need to configure at least one authentication domain in the authc of this file.
# An authentication domain is responsible for extracting the user credentials from
# the request and for validating them against an authentication backend like Active Directory for example.
#
# If more than one authentication domain is configured the first one which succeeds wins.
# If all authentication domains fail then the request is unauthenticated.
# In this case an exception is thrown and/or the HTTP status is set to 401.
#
# After authentication authorization (authz) will be applied. There can be zero or more authorizers which collect
# the roles from a given backend for the authenticated user.
#
# Both, authc and auth can be enabled/disabled separately for REST and TRANSPORT layer. Default is true for both.
#        http_enabled: true
#        transport_enabled: true
#
# For HTTP it is possible to allow anonymous authentication. If that is the case then the HTTP authenticators try to
# find user credentials in the HTTP request. If credentials are found then the user gets regularly authenticated.
# If none can be found the user will be authenticated as an "anonymous" user. This user has always the username "anonymous"
# and one role named "anonymous_backendrole".
# If you enable anonymous authentication all HTTP authenticators will not challenge.
#
#
# Note: If you define more than one HTTP authenticators make sure to put non-challenging authenticators like "proxy" or "clientcert"
# first and the challenging one last.
# Because it's not possible to challenge a client with two different authentication methods (for example
# Kerberos and Basic) only one can have the challenge flag set to true. You can cope with this situation
# by using pre-authentication, e.g. sending a HTTP Basic authentication header in the request.
#
# Default value of the challenge flag is true.
#
#
# HTTP
#   basic (challenging)
#   proxy (not challenging, needs xff)
#   kerberos (challenging)
#   clientcert (not challenging, needs https)
#   jwt (not challenging)
#   host (not challenging) #DEPRECATED, will be removed in a future version.
#                          host based authentication is configurable in roles_mapping

# Authc
#   internal
#   noop
#   ldap

# Authz
#   ldap
#   noop



_meta:
  type: "config"
  config_version: 2

config:
  dynamic:
    # Set filtered_alias_mode to 'disallow' to forbid more than 2 filtered aliases per index
    # Set filtered_alias_mode to 'warn' to allow more than 2 filtered aliases per index but warns about it (default)
    # Set filtered_alias_mode to 'nowarn' to allow more than 2 filtered aliases per index silently
    #filtered_alias_mode: warn
    #do_not_fail_on_forbidden: false
    #kibana:
    # Kibana multitenancy
    #multitenancy_enabled: true
    #server_username: kibanaserver
    #index: '.kibana'
    http:
      anonymous_auth_enabled: false
      xff:
        enabled: false
        internalProxies: '192\.168\.0\.10|192\.168\.0\.11' # regex pattern
        #internalProxies: '.*' # trust all internal proxies, regex pattern
        #remoteIpHeader:  'x-forwarded-for'
        ###### see https://docs.oracle.com/javase/7/docs/api/java/util/regex/Pattern.html for regex help
        ###### more information about XFF https://en.wikipedia.org/wiki/X-Forwarded-For
        ###### and here https://tools.ietf.org/html/rfc7239
        ###### and https://tomcat.apache.org/tomcat-8.0-doc/config/valve.html#Remote_IP_Valve
    authc:
      kerberos_auth_domain:
        http_enabled: false
        transport_enabled: false
        order: 6
        http_authenticator:
          type: kerberos
          challenge: true
          config:
            # If true a lot of kerberos/security related debugging output will be logged to standard out
            krb_debug: false
            # If true then the realm will be stripped from the user name
            strip_realm_from_principal: true
        authentication_backend:
          type: noop
{%- if os_cluster['auth']['basic_internal_auth_domain'] is defined %}
      basic_internal_auth_domain:
        {{ os_cluster['auth']['basic_internal_auth_domain'] | indent(8)}}
{%- else %}
      basic_internal_auth_domain:
        description: "Authenticate via HTTP Basic against internal users database"
        http_enabled: true
        transport_enabled: true
        order: 4
        http_authenticator:
          type: basic
          challenge: true
        authentication_backend:
          type: internal
{%- endif %}
{%- if os_cluster['auth']['saml_auth_domain'] is defined %}
      saml_auth_domain:
        {{ os_cluster['auth']['saml_auth_domain'] | indent(8)}}
{%- endif %}
      proxy_auth_domain:
        description: "Authenticate via proxy"
        http_enabled: false
        transport_enabled: false
        order: 3
        http_authenticator:
          type: proxy
          challenge: false
          config:
            user_header: "x-proxy-user"
            roles_header: "x-proxy-roles"
        authentication_backend:
          type: noop
      jwt_auth_domain:
        description: "Authenticate via Json Web Token"
        http_enabled: false
        transport_enabled: false
        order: 0
        http_authenticator:
          type: jwt
          challenge: false
          config:
            signing_key: "base64 encoded HMAC key or public RSA/ECDSA pem key"
            jwt_header: "Authorization"
            jwt_url_parameter: null
            jwt_clock_skew_tolerance_seconds: 30
            roles_key: null
            subject_key: null
        authentication_backend:
          type: noop
      clientcert_auth_domain:
        description: "Authenticate via SSL client certificates"
        http_enabled: false
        transport_enabled: false
        order: 2
        http_authenticator:
          type: clientcert
          config:
            username_attribute: cn #optional, if omitted DN becomes username
          challenge: false
        authentication_backend:
          type: noop
{%- if os_cluster['auth']['ldap'] is defined %}
      ldap:
        description: "Authenticate via LDAP or Active Directory"
        http_enabled: true
        transport_enabled: true
        order: 2
        http_authenticator:
          type: basic
          challenge: true
        authentication_backend:
          type: ldap
          config:
            {% if os_cluster['auth']['ldap']['enable_ssl'] | default(false) -%}
              pemtrustedcas_filepath: {{ os_conf_dir }}/ldap-ca.pem
            {% endif -%}
            enable_ssl: {{ os_cluster['auth']['ldap']['enable_ssl'] | default(false) }}
            enable_start_tls: false
            enable_ssl_client_auth: false
            verify_hostnames: false
            connect_timeout: 5000
            response_timeout: 0
            hosts:
              {% for item in os_cluster['auth']['ldap']['server'] -%}
                - {{ item }}
              {%- endfor %}
            bind_dn: {{ os_cluster['auth']['ldap']['bind_dn'] | default(None) }}
            password: '{{ os_cluster['auth']['ldap']['password'] | default(None) }}'
            userbase: {{ os_cluster['auth']['ldap']['userbase'] | default("ou=people,dc=example,dc=com") }}
            usersearch: {{ os_cluster['auth']['ldap']['usersearch'] | default("(sAMAccountName={0})") }}
            username_attribute: {{ os_cluster['auth']['ldap']['username_attribute'] | default(None) }}
{%- endif %}
{%- if os_cluster['auth']['openid'] is defined %}
      openid_auth_domain:
        http_enabled: true
        transport_enabled: true
        order: 1
        http_authenticator:
          type: openid
          challenge: false
          config:
            subject_key: preferred_username
            roles_key: roles
            openid_connect_url: {{ os_cluster['auth']['openid']['connect_url'] }}
        authentication_backend:
          type: noop
{%- endif %}
    authz:
      roles_from_myldap:
{%- if os_cluster['auth']['ldap'] is defined %}
        description: "Authorize via LDAP or Active Directory"
        http_enabled: true
        transport_enabled: true
        authorization_backend:
          type: ldap
          config:
            {% if os_cluster['auth']['ldap']['enable_ssl'] | default(false) -%}
              pemtrustedcas_filepath: {{ os_conf_dir }}/ldap-ca.pem
            {% endif -%}
            enable_ssl: {{ os_cluster['auth']['ldap']['enable_ssl'] | default(false) }}
            enable_start_tls: false
            enable_ssl_client_auth: false
            verify_hostnames: false
            connect_timeout: 5000
            response_timeout: 0
            hosts:
              {% for item in os_cluster['auth']['ldap']['server'] -%}
                - {{ item }}
              {%- endfor %}
            bind_dn: {{ os_cluster['auth']['ldap']['bind_dn'] | default(None) }}
            password: '{{ os_cluster['auth']['ldap']['password'] | default(None) }}'
            rolebase: {{ os_cluster['auth']['ldap']['rolebase'] | default("ou=groups,dc=example,dc=com") }}
            userroleattribute: null
            userrolename: {{ os_cluster['auth']['ldap']['userrolename'] | default("disabled") }}
            rolename: {{ os_cluster['auth']['ldap']['rolename'] | default("cn") }}
            resolve_nested_roles: {{ os_cluster['auth']['ldap']['resolve_nested_roles'] | default(false) }}
            userbase: {{ os_cluster['auth']['ldap']['userbase'] | default("ou=people,dc=example,dc=com") }}
            usersearch: {{ os_cluster['auth']['ldap']['usersearch'] | default("(uid={0})") }}
            username_attribute: {{ os_cluster['auth']['ldap']['username_attribute'] | default(None) }}
            skip_users:
              - admin
              - kibanaserver
{%- endif %}
      roles_from_another_ldap:
        description: "Authorize via another Active Directory"
        http_enabled: false
        transport_enabled: false
        authorization_backend:
          type: ldap
          #config goes here ...
  #    auth_failure_listeners:
  #      ip_rate_limiting:
  #        type: ip
  #        allowed_tries: 10
  #        time_window_seconds: 3600
  #        block_expiry_seconds: 600
  #        max_blocked_clients: 100000
  #        max_tracked_clients: 100000
  #      internal_authentication_backend_limiting:
  #        type: username
  #        authentication_backend: intern
  #        allowed_tries: 10
  #        time_window_seconds: 3600
  #        block_expiry_seconds: 600
  #        max_blocked_clients: 100000
  #        max_tracked_clients: 100000