{{ ansible_managed | comment }}

---
# This is the internal user database
# The hash value is a bcrypt hash and can be generated with plugin/tools/hash.sh

_meta:
  type: "internalusers"
  config_version: 2

# Define your internal users here

## Cluster {{ os_cluster['name'] }} users

{{ os_cluster['internal_users'] }}
