{{ ansible_managed | comment }}

cluster.name: {{ os_cluster['name'] }}
node.name: {%if node_type is defined and node_type | length > 0 %}{{ node_type }}-{% endif %}{{ inventory_hostname_short }}
network.host: 0.0.0.0
http.port: {{ os_api_port }}
bootstrap.memory_lock: true
discovery.seed_providers: file
{% if os_new_cluster and os_cluster['os_version'] is version('2.0.0', '<') %}
cluster.initial_master_nodes: [{{ os_node_arr | join(',') }}]
{% elif os_new_cluster and os_cluster['os_version'] is version('2.0.0', '>') %}
cluster.initial_cluster_manager_nodes: [{{ os_node_arr | join(',') }}]
{% endif %}

# compatibility.override_main_response_version: true
{% if node_type is defined and node_type | length > 0 %}
node.attr.box_type: {{ node_type }}
{% endif %}

path.data: {{ os_data }}
path.repo: {{ os_backup }}
path.logs: /var/log/opensearch

plugins.security.ssl.transport.pemcert_filepath: node.pem
plugins.security.ssl.transport.pemkey_filepath: node-key.pem
plugins.security.ssl.transport.pemtrustedcas_filepath: root-ca.pem
plugins.security.ssl.transport.enforce_hostname_verification: false
plugins.security.ssl.transport.resolve_hostname: false
plugins.security.ssl.http.enabled: true
plugins.security.ssl.http.pemcert_filepath: node.pem
plugins.security.ssl.http.pemkey_filepath: node-key.pem
plugins.security.ssl.http.pemtrustedcas_filepath: root-ca.pem
plugins.security.allow_default_init_securityindex: true
plugins.security.authcz.admin_dn: {{ os_cluster['admin_dn'] }}
plugins.security.nodes_dn: {{ os_cluster['nodes_dn'] }}
plugins.security.audit.type: internal_opensearch
plugins.security.enable_snapshot_restore_privilege: true
plugins.security.check_snapshot_restore_write_privileges: true
plugins.security.restapi.roles_enabled:
  - all_access
  - security_rest_api_access
plugins.security.system_indices.enabled: true
plugins.security.system_indices.indices:
  - .plugins-ml-model
  - .plugins-ml-task
  - .opendistro-alerting-config
  - .opendistro-alerting-alert*
  - .opendistro-anomaly-results*
  - .opendistro-anomaly-detector*
  - .opendistro-anomaly-checkpoints
  - .opendistro-anomaly-detection-state
  - .opendistro-reports-*
  - .opensearch-notifications-*
  - .opensearch-notebooks
  - .opensearch-observability
  - .opendistro-asynchronous-search-response*
  - .replication-metadata-store
